body {
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
  
  input[type="number"] {
    width: 50px;
    font-size: 20px;
  }
  
  button {
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(69, 69, 219);
    color: white;
  }
