.html,
body {
    background-color: rgb(53, 53, 91);
    color: white;
    text-align: center;
}

.indroduction {
    font-size: 28px;

}

.indroduction2 {
    font-size: 28px;

}

.plot {
    font-size: 28px;

}

.feedback {
    font-size: 28px;


}

.table {
    font-size: 28px;
 
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}


.nav {
   font-size: 20px;
}
.nav__list {
    display: flex;

}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: rgb(255, 255, 255, 0.7);
}
