.html,
body {
    background-color: rgb(53, 53, 91);
    color: white;
    text-align: center;
}

.indroduction {
    font-size: 28px;

}

.indroduction2 {
    font-size: 28px;

}

.plot {
    font-size: 28px;

}

.feedback {
    font-size: 28px;


}

.table {
    font-size: 28px;
 
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}


.menu {
   font-size: 20px;
   color: white;
   
}
.menu__list {
    display: flex;

}

.menu__item {
    margin-right: 28px;
  

}



